### 1

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('Test_Pandas.xlsx')
data.head()

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34

In [3]:
columns = data.columns
columns

Index(['itemid', 'shopid', 'item_name', 'item_description', 'item_variation',
       'price', 'stock', 'category', 'cb_option', 'is_preferred', 'sold_count',
       'item_creation_date'],
      dtype='object')

### 2

In [6]:
# unique shops 
unique_shops = data['shopid'].unique()
len(unique_shops)

7856

In [49]:
#data['cb_option'] == 1

In [21]:
df = data[data['cb_option'] == 1]
unique_preferred_cb = len(df[df['is_preferred']==1]['shopid'].unique())
unique_preferred_cb

158

In [23]:
zero_count_product = len(data[data['sold_count']==0]['itemid'].unique())
zero_count_product

438092

In [48]:
year2018_product = len(data[[i.year==2018 for i in list(data['item_creation_date'])]]['itemid'].unique())
year2018_product

177407

### 3(a)

In [54]:
dir(data.groupby(['shopid']))

['__bytes__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_accessors',
 '_add_numeric_operations',
 '_agg_doc',
 '_aggregate',
 '_aggregate_generic',
 '_aggregate_item_by_item',
 '_aggregate_multiple_funcs',
 '_apply_filter',
 '_apply_to_column_groupbys',
 '_apply_whitelist',
 '_assure_grouper',
 '_block_agg_axis',
 '_bool_agg',
 '_builtin_table',
 '_choose_path',
 '_concat_objects',
 '_constructor',
 '_cumcount_array',
 '_cython_agg_blocks',
 '_cython_agg_general',
 '_cython_table',
 '_cython_transform',
 '_decide_output_index',
 '_def_str',
 '_define_paths',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_fill',
 '_get_cythonized_result',
 '_get_data_to_aggregate',
 '_get_index',
 '_get_indices',
 '_gotitem',
 '_group_selection',
 '_insert_inaxis_grouper_inplace',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cython_func',
 '_iterate_column_groupbys',
 '_iterate_slices',
 '_make_wrapper',
 '_obj_with_exclusions',
 '_post_process_cython_aggregate',
 '_python_agg_general',
 '_python_apply_general',
 '_reindex_output',
 '_reset_cache',
 '_reset_group_selection',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_group_selection',
 '_set_result_index_ordered',
 '_shallow_copy',
 '_transform_fast',
 '_transform_general',
 '_transform_item_by_item',
 '_transform_should_cast',
 '_try_aggregate_string_function',
 '_try_cast',
 '_wrap_agged_blocks',
 '_wrap_aggregated_output',
 '_wrap_applied_output',
 '_wrap_generic_output',
 '_wrap_transformed_output',
 'agg',
 'aggregate',
 'all',
 'any',
 'apply',
 'backfill',
 'bfill',
 'boxplot',
 'category',
 'cb_option',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cumcount',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'dtypes',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'get_group',
 'groups',
 'head',
 'hist',
 'idxmax',
 'idxmin',
 'indices',
 'is_preferred',
 'item_creation_date',
 'item_description',
 'item_name',
 'item_variation',
 'itemid',
 'last',
 'mad',
 'max',
 'mean',
 'median',
 'min',
 'ndim',
 'ngroup',
 'ngroups',
 'nth',
 'nunique',
 'ohlc',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'price',
 'prod',
 'quantile',
 'rank',
 'resample',
 'rolling',
 'sem',
 'shift',
 'shopid',
 'size',
 'skew',
 'sold_count',
 'std',
 'stock',
 'sum',
 'tail',
 'take',
 'transform',
 'tshift',
 'var']

In [73]:
dic_shopid = {}
for shop in list(data.groupby(['shopid'])):
#     print(type(shop))
    df_shopid = shop[1]
    shopid = list(df_shopid['shopid'])[0]
    unique_item = len(df_shopid['itemid'].unique())
    dic_shopid[shopid] = unique_item
#     print(shop)
#     print(len(shop['itemid'].unique()))
#     print(shopid)

In [78]:
# dir(dic)

In [79]:
sorted_dic_shopid = sorted(dic_shopid.items(), key=lambda kv: kv[1])
sorted_dic_shopid

[(10021, 2),
 (10040, 2),
 (10042, 2),
 (10047, 2),
 (10050, 2),
 (10052, 2),
 (10062, 2),
 (10073, 2),
 (10080, 2),
 (10085, 2),
 (10093, 2),
 (10118, 2),
 (10141, 2),
 (10162, 2),
 (10166, 2),
 (10177, 2),
 (10180, 2),
 (10198, 2),
 (10201, 2),
 (10230, 2),
 (10234, 2),
 (10238, 2),
 (10248, 2),
 (10251, 2),
 (10258, 2),
 (10288, 2),
 (10317, 2),
 (10322, 2),
 (10329, 2),
 (10348, 2),
 (10351, 2),
 (10368, 2),
 (10376, 2),
 (10387, 2),
 (10419, 2),
 (10423, 2),
 (10426, 2),
 (10427, 2),
 (10445, 2),
 (10472, 2),
 (10486, 2),
 (10504, 2),
 (10511, 2),
 (10526, 2),
 (10534, 2),
 (10555, 2),
 (11354, 2),
 (11457, 2),
 (11506, 2),
 (11514, 2),
 (11517, 2),
 (11518, 2),
 (11548, 2),
 (11703, 2),
 (11777, 2),
 (11897, 2),
 (11921, 2),
 (12755, 2),
 (13175, 2),
 (13253, 2),
 (13416, 2),
 (13511, 2),
 (13618, 2),
 (13768, 2),
 (13870, 2),
 (14691, 2),
 (14710, 2),
 (14889, 2),
 (15261, 2),
 (15416, 2),
 (15624, 2),
 (15671, 2),
 (16137, 2),
 (16415, 2),
 (17196, 2),
 (17408, 2),
 (17570, 2),
 (17890, 2),
 (17929, 2),
 (18252, 2),
 (18855, 2),
 (19124, 2),
 (19158, 2),
 (19190, 2),
 (19553, 2),
 (20154, 2),
 (20240, 2),
 (20370, 2),
 (20470, 2),
 (20624, 2),
 (20645, 2),
 (20740, 2),
 (20988, 2),
 (21625, 2),
 (21774, 2),
 (22821, 2),
 (23217, 2),
 (23384, 2),
 (24546, 2),
 (24549, 2),
 (24773, 2),
 (26693, 2),
 (27330, 2),
 (27649, 2),
 (28188, 2),
 (28220, 2),
 (28421, 2),
 (28796, 2),
 (29897, 2),
 (30422, 2),
 (31407, 2),
 (31455, 2),
 (32028, 2),
 (33205, 2),
 (35291, 2),
 (35865, 2),
 (36174, 2),
 (36223, 2),
 (36802, 2),
 (37336, 2),
 (38705, 2),
 (40507, 2),
 (40877, 2),
 (41019, 2),
 (41159, 2),
 (42496, 2),
 (42618, 2),
 (43012, 2),
 (44240, 2),
 (45449, 2),
 (45794, 2),
 (48077, 2),
 (48649, 2),
 (48791, 2),
 (48807, 2),
 (49548, 2),
 (49790, 2),
 (50932, 2),
 (51241, 2),
 (51490, 2),
 (51740, 2),
 (52088, 2),
 (52216, 2),
 (52273, 2),
 (54067, 2),
 (54460, 2),
 (56418, 2),
 (59274, 2),
 (59285, 2),
 (68258, 2),
 (69494, 2),
 (70321, 2),
 (70466, 2),
 (70476, 2),
 (70618, 2),
 (71558, 2),
 (74423, 2),
 (74796, 2),
 (75743, 2),
 (77017, 2),
 (78696, 2),
 (80281, 2),
 (80376, 2),
 (82172, 2),
 (82911, 2),
 (83171, 2),
 (83821, 2),
 (83846, 2),
 (84215, 2),
 (84509, 2),
 (85117, 2),
 (85844, 2),
 (85909, 2),
 (88056, 2),
 (88420, 2),
 (89034, 2),
 (89408, 2),
 (89938, 2),
 (93529, 2),
 (94063, 2),
 (94898, 2),
 (96052, 2),
 (96848, 2),
 (97512, 2),
 (100530, 2),
 (102641, 2),
 (105347, 2),
 (105611, 2),
 (106581, 2),
 (108495, 2),
 (109286, 2),
 (110029, 2),
 (112596, 2),
 (113908, 2),
 (113941, 2),
 (113949, 2),
 (116251, 2),
 (123841, 2),
 (129711, 2),
 (130320, 2),
 (130852, 2),
 (132165, 2),
 (134422, 2),
 (134630, 2),
 (136420, 2),
 (137920, 2),
 (138218, 2),
 (140905, 2),
 (141910, 2),
 (141971, 2),
 (142536, 2),
 (145598, 2),
 (145990, 2),
 (146154, 2),
 (147467, 2),
 (147879, 2),
 (148606, 2),
 (148752, 2),
 (149747, 2),
 (150624, 2),
 (151510, 2),
 (151662, 2),
 (152230, 2),
 (153228, 2),
 (155287, 2),
 (157186, 2),
 (157537, 2),
 (159098, 2),
 (160137, 2),
 (161884, 2),
 (172894, 2),
 (177248, 2),
 (178746, 2),
 (179678, 2),
 (181070, 2),
 (183068, 2),
 (184741, 2),
 (188282, 2),
 (188462, 2),
 (189001, 2),
 (189958, 2),
 (190351, 2),
 (190371, 2),
 (190884, 2),
 (191858, 2),
 (192374, 2),
 (193646, 2),
 (195587, 2),
 (195607, 2),
 (195803, 2),
 (196748, 2),
 (197766, 2),
 (199720, 2),
 (202542, 2),
 (203582, 2),
 (204441, 2),
 (204802, 2),
 (205551, 2),
 (206238, 2),
 (206267, 2),
 (208473, 2),
 (211573, 2),
 (211672, 2),
 (212022, 2),
 (212542, 2),
 (216024, 2),
 (218717, 2),
 (218805, 2),
 (218874, 2),
 (218926, 2),
 (218967, 2),
 (219114, 2),
 (219438, 2),
 (219483, 2),
 (220137, 2),
 (221270, 2),
 (221639, 2),
 (222294, 2),
 (222951, 2),
 (224430, 2),
 (225000, 2),
 (225476, 2),
 (225712, 2),
 (226090, 2),
 (227830, 2),
 (228582, 2),
 (228966, 2),
 (229055, 2),
 (234035, 2),
 (237635, 2),
 (238377, 2),
 (238397, 2),
 (239150, 2),
 (239174, 2),
 (241221, 2),
 (243447, 2),
 (246816, 2),
 (247583, 2),
 (252893, 2),
 (253054, 2),
 (253118, 2),
 (253527, 2),
 (255322, 2),
 (258602, 2),
 (260906, 2),
 (261374, 2),
 (261383, 2),
 (261792, 2),
 (263471, 2),
 (267023, 2),
 (267369, 2),
 (268659, 2),
 (268724, 2),
 (269305, 2),
 (269600, 2),
 (272108, 2),
 (272231, 2),
 (275909, 2),
 (281513, 2),
 (282101, 2),
 (284729, 2),
 (293786, 2),
 (296716, 2),
 (297011, 2),
 (299935, 2),
 (302874, 2),
 (303365, 2),
 (307512, 2),
 (308486, 2),
 (309190, 2),
 (312894, 2),
 (318749, 2),
 (321188, 2),
 (322142, 2),
 (323198, 2),
 (325283, 2),
 (325891, 2),
 (331846, 2),
 (332138, 2),
 (341857, 2),
 (342615, 2),
 (348522, 2),
 (348646, 2),
 (348897, 2),
 (351875, 2),
 (355547, 2),
 (357456, 2),
 (362085, 2),
 (362820, 2),
 (363719, 2),
 (369277, 2),
 (369629, 2),
 (378250, 2),
 (380296, 2),
 (380981, 2),
 (386061, 2),
 (387393, 2),
 (388170, 2),
 (389931, 2),
 (391040, 2),
 (393069, 2),
 (393323, 2),
 (395245, 2),
 (398676, 2),
 (400486, 2),
 (405249, 2),
 (406997, 2),
 (408417, 2),
 (413771, 2),
 (416857, 2),
 (417542, 2),
 (418087, 2),
 (421341, 2),
 (421539, 2),
 (425317, 2),
 (426341, 2),
 (428867, 2),
 (431380, 2),
 (434355, 2),
 (437124, 2),
 (437531, 2),
 (439880, 2),
 (440812, 2),
 (442959, 2),
 (447417, 2),
 (450332, 2),
 (456409, 2),
 (460832, 2),
 (461226, 2),
 (462055, 2),
 (462891, 2),
 (468073, 2),
 (470090, 2),
 (470375, 2),
 (476994, 2),
 (479799, 2),
 (488406, 2),
 (490625, 2),
 (491547, 2),
 (495750, 2),
 (496940, 2),
 (499597, 2),
 (508339, 2),
 (512521, 2),
 (518842, 2),
 (526822, 2),
 (530502, 2),
 (533123, 2),
 (534369, 2),
 (535075, 2),
 (535680, 2),
 (538246, 2),
 (544418, 2),
 (546208, 2),
 (549734, 2),
 (552162, 2),
 (553102, 2),
 (554924, 2),
 (557314, 2),
 (559715, 2),
 (562972, 2),
 (563854, 2),
 (566674, 2),
 (566848, 2),
 (567545, 2),
 (568172, 2),
 (568315, 2),
 (574587, 2),
 (581743, 2),
 (582000, 2),
 (587963, 2),
 (590855, 2),
 (591607, 2),
 (591821, 2),
 (601479, 2),
 (603263, 2),
 (608146, 2),
 (610217, 2),
 (613845, 2),
 (615863, 2),
 (616898, 2),
 (617540, 2),
 (620668, 2),
 (623549, 2),
 (624970, 2),
 (626383, 2),
 (626540, 2),
 (626781, 2),
 (629491, 2),
 (630597, 2),
 (631803, 2),
 (638613, 2),
 (639391, 2),
 (642013, 2),
 (642842, 2),
 (645783, 2),
 (649148, 2),
 (649504, 2),
 (655762, 2),
 (657780, 2),
 (658467, 2),
 (659623, 2),
 (660413, 2),
 (661564, 2),
 (662161, 2),
 (662482, 2),
 (664629, 2),
 (664666, 2),
 (667989, 2),
 (668958, 2),
 (669200, 2),
 (674221, 2),
 (677231, 2),
 (677590, 2),
 (678470, 2),
 (680693, 2),
 (681607, 2),
 (682850, 2),
 (688908, 2),
 (691380, 2),
 (693450, 2),
 (693575, 2),
 (694126, 2),
 (694541, 2),
 (694604, 2),
 (702387, 2),
 (703356, 2),
 (711813, 2),
 (712140, 2),
 (712318, 2),
 (713011, 2),
 (713276, 2),
 (714051, 2),
 (722132, 2),
 (725452, 2),
 (726260, 2),
 (726539, 2),
 (731353, 2),
 (732483, 2),
 (733623, 2),
 (740397, 2),
 (743948, 2),
 (745945, 2),
 (749576, 2),
 (755870, 2),
 (756512, 2),
 (756651, 2),
 (758302, 2),
 (760000, 2),
 (761680, 2),
 (767745, 2),
 (769254, 2),
 (769866, 2),
 (771160, 2),
 (771913, 2),
 (772062, 2),
 (773815, 2),
 (774593, 2),
 (778057, 2),
 (779066, 2),
 (783093, 2),
 (786589, 2),
 (789546, 2),
 (790396, 2),
 (791633, 2),
 (794303, 2),
 (798419, 2),
 (799940, 2),
 (804975, 2),
 (805968, 2),
 (810636, 2),
 (812444, 2),
 (812933, 2),
 (817156, 2),
 (819930, 2),
 (822752, 2),
 (823357, 2),
 (825255, 2),
 (825969, 2),
 (827210, 2),
 (830740, 2),
 (832529, 2),
 (832962, 2),
 (834824, 2),
 (845195, 2),
 (846349, 2),
 (846610, 2),
 (846790, 2),
 (857956, 2),
 (860423, 2),
 (872932, 2),
 (874541, 2),
 (874959, 2),
 (879976, 2),
 (880158, 2),
 (884501, 2),
 (885535, 2),
 (892811, 2),
 (892830, 2),
 (899833, 2),
 (900555, 2),
 (904638, 2),
 (904843, 2),
 (907130, 2),
 (908774, 2),
 (908984, 2),
 (909070, 2),
 (909470, 2),
 (911736, 2),
 (915441, 2),
 (916752, 2),
 (917078, 2),
 (917256, 2),
 (918746, 2),
 (921552, 2),
 (921731, 2),
 (922890, 2),
 (923350, 2),
 (927431, 2),
 (928118, 2),
 (933764, 2),
 (934357, 2),
 (934560, 2),
 (939087, 2),
 (945699, 2),
 (947259, 2),
 (953280, 2),
 (954460, 2),
 (956857, 2),
 (959352, 2),
 (959663, 2),
 (959668, 2),
 (960637, 2),
 (962471, 2),
 (963572, 2),
 (964277, 2),
 (965648, 2),
 (966717, 2),
 (997128, 2),
 (998073, 2),
 (1002354, 2),
 (1002422, 2),
 (1005535, 2),
 (1019288, 2),
 (1024927, 2),
 (1026827, 2),
 (1028620, 2),
 (1030634, 2),
 (1031173, 2),
 (1031808, 2),
 (1043436, 2),
 (1049212, 2),
 (1049218, 2),
 (1050394, 2),
 (1055682, 2),
 (1062162, 2),
 (1068155, 2),
 (1068661, 2),
 (1069077, 2),
 (1070900, 2),
 (1071050, 2),
 (1071267, 2),
 (1072485, 2),
 (1075701, 2),
 (1077167, 2),
 (1077367, 2),
 (1079993, 2),
 (1084380, 2),
 (1084901, 2),
 (1085458, 2),
 (1090114, 2),
 (1090617, 2),
 (1104698, 2),
 (1105479, 2),
 (1110588, 2),
 (1113696, 2),
 (1118217, 2),
 (1122085, 2),
 (1124690, 2),
 (1126203, 2),
 (1126288, 2),
 (1126604, 2),
 (1127304, 2),
 (1131437, 2),
 (1132460, 2),
 (1134916, 2),
 (1137209, 2),
 (1137365, 2),
 (1145861, 2),
 (1149613, 2),
 (1149920, 2),
 (1155240, 2),
 (1165144, 2),
 (1168288, 2),
 (1168848, 2),
 (1176338, 2),
 (1176486, 2),
 (1179310, 2),
 (1180015, 2),
 (1180050, 2),
 (1184593, 2),
 (1191107, 2),
 (1194156, 2),
 (1195769, 2),
 (1197623, 2),
 (1198221, 2),
 (1203566, 2),
 (1205627, 2),
 (1216678, 2),
 (1221854, 2),
 (1228249, 2),
 (1231149, 2),
 (1231473, 2),
 (1253797, 2),
 (1259127, 2),
 (1268545, 2),
 (1272592, 2),
 (1274639, 2),
 (1277086, 2),
 (1281830, 2),
 (1282420, 2),
 (1284454, 2),
 (1291232, 2),
 (1291278, 2),
 (1295523, 2),
 (1299408, 2),
 (1300698, 2),
 (1315194, 2),
 (1318846, 2),
 (1319974, 2),
 (1321669, 2),
 (1322855, 2),
 (1323518, 2),
 (1326158, 2),
 (1329488, 2),
 (1329746, 2),
 (1333403, 2),
 (1337794, 2),
 (1339367, 2),
 (1340432, 2),
 (1342493, 2),
 (1342667, 2),
 (1343322, 2),
 (1347613, 2),
 (1351598, 2),
 (1354305, 2),
 (1355035, 2),
 (1356363, 2),
 (1356652, 2),
 (1358724, 2),
 (1359555, 2),
 (1360790, 2),
 (1374067, 2),
 (1378015, 2),
 (1379165, 2),
 (1387783, 2),
 (1390429, 2),
 (1392112, 2),
 (1399385, 2),
 (1402716, 2),
 (1407023, 2),
 (1407170, 2),
 (1408099, 2),
 (1419113, 2),
 (1424055, 2),
 (1431581, 2),
 (1450216, 2),
 (1460747, 2),
 (1460829, 2),
 (1461158, 2),
 (1465850, 2),
 (1481222, 2),
 (1485093, 2),
 (1511331, 2),
 (1515026, 2),
 (1528224, 2),
 (1531706, 2),
 (1533271, 2),
 (1544852, 2),
 (1549750, 2),
 (1550187, 2),
 (1560241, 2),
 (1580588, 2),
 (1607397, 2),
 (1611018, 2),
 (1615059, 2),
 (1623676, 2),
 (1627010, 2),
 (1629380, 2),
 (1635504, 2),
 (1638476, 2),
 (1646586, 2),
 (1648136, 2),
 (1650628, 2),
 (1650791, 2),
 (1663954, 2),
 (1665717, 2),
 (1666396, 2),
 (1675376, 2),
 (1678233, 2),
 (1686121, 2),
 (1686428, 2),
 (1686705, 2),
 (1696163, 2),
 (1716068, 2),
 (1718934, 2),
 (1720944, 2),
 (1721853, 2),
 (1731467, 2),
 (1732766, 2),
 (1737173, 2),
 (1748316, 2),
 (1750549, 2),
 (1750836, 2),
 (1764515, 2),
 (1765154, 2),
 (1768261, 2),
 (1768739, 2),
 (1786656, 2),
 (1791624, 2),
 (1797027, 2),
 (1802794, 2),
 (1806148, 2),
 (1809196, 2),
 (1811193, 2),
 (1815229, 2),
 (1816357, 2),
 (1819879, 2),
 (1826747, 2),
 (1828230, 2),
 (1835044, 2),
 (1837827, 2),
 (1845557, 2),
 (1847188, 2),
 (1851131, 2),
 (1863775, 2),
 (1873359, 2),
 (1874942, 2),
 (1879043, 2),
 (1882062, 2),
 (1882677, 2),
 (1892590, 2),
 (1897884, 2),
 (1904560, 2),
 (1924627, 2),
 (1924982, 2),
 (1926402, 2),
 (1942664, 2),
 (1944318, 2),
 (1944770, 2),
 (1950145, 2),
 (1956836, 2),
 (1962878, 2),
 (1978853, 2),
 (1979718, 2),
 (1987325, 2),
 (1998593, 2),
 (2016843, 2),
 (2028554, 2),
 (2032733, 2),
 (2035936, 2),
 (2044446, 2),
 (2044873, 2),
 (2046763, 2),
 (2050431, 2),
 (2085131, 2),
 (2085411, 2),
 (2093841, 2),
 (2096406, 2),
 (2102641, 2),
 (2111181, 2),
 (2111902, 2),
 (2112193, 2),
 (2116822, 2),
 (2126485, 2),
 (2127873, 2),
 (2129310, 2),
 (2136293, 2),
 (2137159, 2),
 (2137776, 2),
 (2142895, 2),
 (2148478, 2),
 (2160738, 2),
 (2173867, 2),
 (2176276, 2),
 (2177180, 2),
 (2181475, 2),
 (2190153, 2),
 (2191739, 2),
 (2195048, 2),
 (2204975, 2),
 (2205315, 2),
 (2209805, 2),
 (2215816, 2),
 (2223209, 2),
 (2223621, 2),
 (2232326, 2),
 (2233052, 2),
 (2247807, 2),
 (2251465, 2),
 (2254548, 2),
 (2266192, 2),
 (2271610, 2),
 (2279578, 2),
 (2280789, 2),
 (2284828, 2),
 (2286877, 2),
 (2289196, 2),
 (2290600, 2),
 (2300450, 2),
 (2304598, 2),
 (2309618, 2),
 (2312779, 2),
 (2338308, 2),
 (2342700, 2),
 (2368319, 2),
 (2368771, 2),
 (2375120, 2),
 (2390676, 2),
 (2395380, 2),
 (2397082, 2),
 (2399819, 2),
 (2402952, 2),
 (2405207, 2),
 (2433103, 2),
 (2445250, 2),
 (2447928, 2),
 (2459444, 2),
 (2464730, 2),
 (2466521, 2),
 (2467107, 2),
 (2469797, 2),
 (2478103, 2),
 (2485713, 2),
 (2490734, 2),
 (2503102, 2),
 (2543075, 2),
 (2554775, 2),
 (2562237, 2),
 (2562548, 2),
 (2567500, 2),
 (2569793, 2),
 (2575577, 2),
 (2577390, 2),
 (2588863, 2),
 (2591472, 2),
 (2597733, 2),
 (2601884, 2),
 (2605715, 2),
 (2608029, 2),
 (2609857, 2),
 (2614344, 2),
 (2628503, 2),
 (2666731, 2),
 (2667414, 2),
 (2667916, 2),
 (2668624, 2),
 (2669580, 2),
 (2679511, 2),
 (2685900, 2),
 (2686114, 2),
 (2695574, 2),
 (2706058, 2),
 (2715741, 2),
 (2715990, 2),
 (2723402, 2),
 (2738199, 2),
 (2753817, 2),
 (2756736, 2),
 (2764138, 2),
 (2764441, 2),
 (2783517, 2),
 (2785588, 2),
 (2787496, 2),
 (2807319, 2),
 (2808718, 2),
 (2818260, 2),
 (2823706, 2),
 (2824668, 2),
 (2831633, 2),
 (2833764, 2),
 (2835135, 2),
 (2835344, 2),
 (2838601, 2),
 (2839320, 2),
 (2852044, 2),
 (2852571, 2),
 (2875253, 2),
 (2877359, 2),
 (2889633, 2),
 (2906688, 2),
 (2913826, 2),
 (2919207, 2),
 (2933737, 2),
 (2933832, 2),
 (2937333, 2),
 (2940811, 2),
 (2943322, 2),
 (2944329, 2),
 (2944777, 2),
 (2955687, 2),
 (2965938, 2),
 (2966362, 2),
 (2971715, 2),
 (2981602, 2),
 (3000306, 2),
 (3004062, 2),
 (3013963, 2),
 (3021003, 2),
 (3034311, 2),
 (3037470, 2),
 (3046355, 2),
 (3064831, 2),
 (3070797, 2),
 (3071598, 2),
 (3072381, 2),
 (3079483, 2),
 (3081557, 2),
 (3091910, 2),
 (3096318, 2),
 (3104377, 2),
 (3116010, 2),
 (3118538, 2),
 (3119644, 2),
 (3128073, 2),
 (3129129, 2),
 (3133011, 2),
 (3139304, 2),
 (3162944, 2),
 (3171711, 2),
 (3179549, 2),
 (3180276, 2),
 (3188978, 2),
 (3201212, 2),
 (3222501, 2),
 (3262932, 2),
 (3284284, 2),
 (3285661, 2),
 (3311587, 2),
 (3315837, 2),
 ...]

In [80]:
sorted_dic_shopid[-3:]

[(47695236, 7997), (49095917, 8376), (32351807, 12963)]

### 3(b)

In [82]:
dic_cat = {}
for cat in list(data.groupby(['category'])):
#     print(type(shop))
    df_cat = cat[1]
    category = list(df_cat['category'])[0]
    unique_cb = len(df_cat['cb_option'].unique())
    dic_cat[category] = unique_cb

In [83]:
sorted_dic_cat = sorted(dic_cat.items(), key=lambda kv: kv[1])
sorted_dic_cat

[('Tickets & Vouchers', 1),
 ('Bags & Luggage', 2),
 ('Computers & Peripherals', 2),
 ('Design & Crafts', 2),
 ('Food & Beverages', 2),
 ('Games & Hobbies', 2),
 ('Health & Beauty', 2),
 ('Home & Living', 2),
 ('Home Appliances', 2),
 ('Jewellery & Accessories', 2),
 ("Men's Shoes", 2),
 ("Men's Wear", 2),
 ('Miscellaneous ', 2),
 ('Mobile & Gadgets', 2),
 ('Pet Accessories', 2),
 ('Sports & Outdoors', 2),
 ('Toys, Kids & Babies', 2),
 ('Watches', 2),
 ("Women's Apparel", 2),
 ("Women's Shoes", 2)]

In [84]:
sorted_dic_cat[-3:]

[('Watches', 2), ("Women's Apparel", 2), ("Women's Shoes", 2)]

### 4

In [87]:
data['revenue'] = data['price']*data['sold_count']
data.head()

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,revenue
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,0.0
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,0.0
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,0.0
3,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,0.0
4,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35.0,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,0.0

In [101]:
df_revenue = data.groupby(['shopid']).agg({'revenue':'sum'})
df_revenue.loc[10008, 'revenue']

0.0

In [109]:
dic_revenue = {idx:df_revenue.loc[idx, 'revenue'] for idx in df_revenue.index}
sorted_dic_revenue = sorted(dic_revenue.items(), key=lambda kv: kv[1])
sorted_dic_revenue[-1]

(18796234, 177897.79)

### 5

In [123]:
import ast

def check_item_variation(data):
    for i in data['item_variation']:
        try:
            item_variation = ast.literal_eval(i)
            if len(item_variation.keys())>3:
                yield True
            else:
                yield False
        except:
            yield False

In [124]:
flag = list(check_item_variation(data))

In [126]:
len(data[flag]['itemid'].unique())

18649

### 6

Use pandas function to identify duplicated listings within each shop (If listing A and B in shop S have the exactly same product title, product detailed description, and price, both listing A and B are considered as duplicated listings)
* a.	Mark those duplicated listings with True otherwise False and store the marking result in a new column named is_duplicated 
* b.	Find duplicate listings that has less than 2 sold count and store the result in a new excel file named duplicated_listings.xlsx
* c.	Find the preferred shop shopid that have the most number of duplicated listings

In [128]:
data.head(3)

,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,revenue
0,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,0.0
1,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400.0,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,0.0
2,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8.0,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,0.0

In [130]:
columns

Index(['itemid', 'shopid', 'item_name', 'item_description', 'item_variation',
       'price', 'stock', 'category', 'cb_option', 'is_preferred', 'sold_count',
       'item_creation_date'],
      dtype='object')

In [156]:
is_duplicated = pd.Series()
for shop in list(data.groupby(['shopid'])):
    df_shopid = shop[1]
#     shopid = list(df_shopid['shopid'])[0]
    duplicate_df_shopid = df_shopid.duplicated(['itemid', 'item_description', 'price'])
#     print(duplicate_df_shopid)
    is_duplicated = is_duplicated.append(duplicate_df_shopid)
#     print("Duplicate:", type(duplicate_df_shopid), sep='\n')

In [157]:
is_duplicated

2852      False
2853      False
2854      False
2855      False
3086      False
3087      False
3088      False
3089      False
3090      False
3091      False
3092      False
3093      False
3094      False
3095      False
3096      False
3097      False
3098      False
3099      False
3100      False
3101      False
3102      False
3103      False
3104      False
3105      False
3106      False
3107      False
3108      False
3109      False
3110      False
3111      False
          ...
444638    False
444639    False
444640    False
444641    False
444642    False
444643    False
444644    False
444645    False
444646    False
444647    False
444648    False
274552    False
274553    False
274554    False
274555    False
313315    False
313316    False
313317    False
313318    False
313319    False
229525    False
229526    False
167562    False
167563    False
243720    False
243721    False
243722    False
243723    False
243724    False
243725    False
Length: 464433, dtype: bool

In [158]:
all(is_duplicated == False)

# There is no duplicate in this dataset

True

In [142]:
df_is_duplicated = pd.DataFrame(data = is_duplicated, columns = ['is_duplicated'])
df_is_duplicated.head(3)

      is_duplicated
2852          False
2853          False
2854          False

In [145]:
df_data = df_is_duplicated.merge(data, left_index=True, right_index=True)
df_data.head(3)

,is_duplicated,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_date,revenue
2852,False,1830577,10008,Psycho Vintage Psychological Thriller Movie R...,Psycho (1960) Classic Psychological Thriller ...,{},12.9,5,Bags & Luggage,0,0,0,2015-09-27 18:07:06,0.0
2853,False,1830613,10008,Psycho Vintage Psychological Thriller Movie R...,Psycho (1960) Classic Psychological Thriller ...,{},12.9,5,Bags & Luggage,0,0,0,2015-09-27 18:08:33,0.0
2854,False,1829753,10008,Kill Bill Movie Poster Rectangular Pouch,Kill Bill (2003) Film by Quentin Tarantino. D...,{},12.9,5,Bags & Luggage,0,0,0,2015-09-27 17:28:22,0.0

In [148]:
df_data_duplicate = df_data[df_data['is_duplicated'] == True]
df_data_duplicate

Empty DataFrame
Columns: [is_duplicated, itemid, shopid, item_name, item_description, item_variation, price, stock, category, cb_option, is_preferred, sold_count, item_creation_date, revenue]
Index: []