1.L=[1,2,3,4,1,4,5,6]将L转变为集合，再将集合转变为新的列表，比较新旧列表的差别；

In [4]:
L=[1,2,3,4,1,4,5,6]
L1 = set(L)
L2 = list(L1)
print(L1)
print(L2)
print(L)
# new list has no duplicated items

{1, 2, 3, 4, 5, 6}
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 1, 4, 5, 6]

2.dog = ["tom", "jack", "Collie", "Marry"], kitty = "Marry", 如何判断 kitty 是否是 dog 中的一员?

In [5]:
dog = ["tom", "jack", "Collie", "Marry"]
kitty = "Marry"
kitty in dog

True

3.L=[1,2,3,1,5,11,3,6,4,2,5,8,4,2],计算L的最大值，并求和；

In [7]:
L=[1,2,3,1,5,11,3,6,4,2,5,8,4,2]
print(max(L))
print(sum(L))

11
57

4.set_a = {1, 5, 10} set_b = {1, 10, 12} 找出set_a和set_b的交集并集和差。

In [10]:
set_a = {1, 5, 10} 
set_b = {1, 10, 12}
print(set_a &set_b)
print(set_a|set_b)
print(set_a -set_b)

{1, 10}
{1, 5, 10, 12}
{5}

5.在列表a=[1, 2, 4, 5, 6]的元素2和4之间插入3，并且将列表颠倒顺序；

In [16]:
a=[1, 2, 4, 5, 6]
a.append(3)
a=list(set(a))
a.reverse()
a

[6, 5, 4, 3, 2, 1]

6.在movie={'name':'肖申克的救赎','actor':'蒂姆·罗宾斯','score':9.6,'country':'USA'}中插入新元素“评分人数：20000”，
将country修改为“美国”，删除掉score键值对；

In [23]:
movie={'name':'肖申克的救赎','actor':'蒂姆·罗宾斯','score':9.6,'country':'USA'}
movie['评分人数']='20000'
movie['country']='美国'
movie

{'name': '肖申克的救赎',
 'actor': '蒂姆·罗宾斯',
 'score': 9.6,
 'country': '美国',
 '评分人数': '20000'}

7.将字典变为两个元素一一对应的列表，一个只含有关键字，另一个只含有值。 如:{'a': 1, 'b': 2}变为['a', 'b'], [1, 2]

In [25]:
a= list(movie.keys())
b= list(movie.values())
print(a)
print(b)

['name', 'actor', 'score', 'country', '评分人数']
['肖申克的救赎', '蒂姆·罗宾斯', 9.6, '美国', '20000']

8.L=[1,2,'','my',3,'name','is',4,'katty'],利用循环语句和判断条件，分别输出列表中的字符串和数字。

In [30]:
L=[1,2,'','my',3,'name','is',4,'katty']
stra = []
numb = []
for item in L:
    if type(item) == int:
        numb.append(item)
    else:
        stra.append(item)
print(stra)
print(numb)

['', 'my', 'name', 'is', 'katty']
[1, 2, 3, 4]

9.将t转化为“2018-12-25”的格式

In [40]:
import time
t=1554105678
time.strftime('%Y-%m-%d',time.localtime(t))

'2019-04-01'

10.利用列表输出1到50中5的倍数，将其存放到一个列表中。

In [41]:
time_of_five = []
for item in range(1,51):
    if item%5 == 0:
       time_of_five.append(item)
print(time_of_five)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [42]:
[item for item in range(1,51) if item%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]